<h1>New Project</h1>
<%= form_for(@projects) do |form| %>
  <div><%= form.label :project name %></div>
  <div><%= form.text_field :name %></div>
  <div><%= form.submit %></div>
<% end %>
<%= link_to '戻る', tasks_path %>